@inject Toolbelt.Blazor.I18nText.I18nText I18nText

<div class="summary">
    @Localized.ApplicationSummary
</div>

<div class="quick-tour">
    <ol>
        <li>@Localized.ApplicationSummary_Step1</li>
        <li>@Localized.ApplicationSummary_Step2</li>
        <li>@(new MarkupString(Localized.ApplicationSummary_Step3))</li>
    </ol>
</div>

<div id="sign-in">
    <a href="auth/signin" target="_top">@Localized.SignIn</a>
</div>

<div class="social-buttons">

    <span id="powered-by-azure" class="powered-by">
        <img src="https://portal.azure.com/favicon.ico" />
        Hosted by <a href="https://azure.microsoft.com/services/app-service/web/" target="_blank">Microsoft Azure Web Apps</a>
    </span>
    |
    <span id="powered-by-aspnet" class="powered-by">
        <img src="https://dotnet.microsoft.com/favicon.ico" width="16" height="16" />
        Powered by <a href="https://asp.net/" target="_blank">ASP.NET Core</a> and
        <img src="/css/images/blazor.png" style="width:20px; height:20px;" />
        Powered by <a href="https://blazor.net/" target="_blank">Blazor WebAssembly App</a>.
    </span>
    |
    <span id="sourcecode-by-github" class="powered-by">
        <img src="https://github.com/favicon.ico" width="16" height="16" />
        Source code is <a href="https://github.com/jsakamoto/tap-to-tweet-reserved" target="_blank">GitHub</a>
    </span>
    |
    <TwitterShareButton Text="Tweet during your session! - Tap To Tweet Reserved" />
</div>

@code
{
    [CascadingParameter]
    private UIContext UIContext { get; set; }

    private Localized Localized = new Localized();

    protected override async Task OnInitializedAsync()
    {
        this.UIContext.PageTitle = () => AppInfo.AppTitle;
        this.Localized = await I18nText.GetTextTableAsync<Localized>(this);
    }
}