@model TapToTweetReserved.Models.ReservedTweet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ReservedTweet</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.OwnerUserId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.OwnerUserId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.TextToTweet)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.TextToTweet)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Order)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Order)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.IsTweeted)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IsTweeted)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
