@model TapToTweetReserved.Models.ReservedTweet
@{
    ViewBag.Title = "Edit the tweet";
}


@using (Html.BeginForm())
{
    <fieldset>
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        <div>
            @Html.TextAreaFor(m => m.TextToTweet, new { autofocus = true })
        </div>
        <div>
            @Html.ValidationMessageFor(model => model.TextToTweet)
        </div>
    </fieldset>
    <footer class="col2">
        <input type="submit" name="cmd" value="OK" />
        <input type="submit" name="cmd" value="Cancel" class="cancel"/>
    </footer>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
