<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Head", required: false)
</head>
<body class="@ViewBag.BodyClass">

    <header>
        <h1>@ViewBag.Title</h1>
        @if (this.User.Identity.IsAuthenticated)
        {
            <a href="#" class="menu">menu</a>
            <nav>
                @RenderSection("nav", required: false)
                <div>@User.Identity.Name | @Html.ActionLink("Sign Out", "SignOut", "Account", null, new { id = "sign-out" })</div>
            </nav>
        }
    </header>

    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/site")
    @RenderSection("Scripts", required: false)
</body>
</html>
