@using TapToTweetReserved
<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="@Localize.Title" />
    <meta property="og:description" content="@Localize.Description" />
    <meta property="og:url" content="@Url.AppUrl()" />
    <meta property="og:image" content="@Url.AppUrl()/Content/images/ogpimage.png" />
    <meta name="keywords" content="@Localize.Keywords" />
    <meta name="description" content="@Localize.Description" />

    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="120x120" href="~/Content/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="~/Content/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="~/Content/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="~/Content/favicon/manifest.json">
    <link rel="mask-icon" href="~/Content/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="~/Content/favicon/favicon.ico">
    <meta name="msapplication-config" content="~/Content/favicon/browserconfig.xml">
    <meta name="theme-color" content="#555555">

    <title ng-bind="title">@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Head", required: false)
</head>
<body class="@ViewBag.BodyClass">

    <header>
        <h1 ng-bind="title">@ViewBag.Title</h1>
        @if (this.User.Identity.IsAuthenticated)
        {
            <a href="#" class="menu">menu</a>
            <nav>
                @RenderSection("nav", required: false)
                <div>@User.Identity.Name | @Html.ActionLink("Sign Out", "SignOut", "Account", null, new { id = "sign-out" })</div>
            </nav>
        }
    </header>

    <div class="body-wrapper">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/site")
    @RenderSection("Scripts", required: false)
</body>
</html>
