<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <header>
        <h1>@ViewBag.Title</h1>
        <nav>
            @RenderSection("nav", required: false)
        </nav>
    </header>

    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/site")
    @RenderSection("Scripts", required: false)
</body>
</html>
