@using TapToTweetReserved
@{
    var description = "The app for tweeting during a presentation by speaker oneself! / 1. Sign in with Twitter / 2. Reserve the messages prepare for your presentation. / 3. Tap to tweet the message that was reserved during your presentation!";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="twitter:card" content="summary">
    <meta property="og:title" content="@ViewBag.Title" />
    <meta property="og:description" content="@description" />
    <meta property="og:url" content="@Url.AppUrl()" />
    <meta property="og:image" content="@Url.AppUrl()/Content/images/ogpimage.png" />
    <meta name="keywords" content="Twitter,Tweet,Presentation" />
    <meta name="description" content="@description" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Head", required: false)
</head>
<body class="@ViewBag.BodyClass">

    <header>
        <h1>@ViewBag.Title</h1>
        @if (this.User.Identity.IsAuthenticated)
        {
            <a href="#" class="menu">menu</a>
            <nav>
                @RenderSection("nav", required: false)
                <div>@User.Identity.Name | @Html.ActionLink("Sign Out", "SignOut", "Account", null, new { id = "sign-out" })</div>
            </nav>
        }
    </header>

    <div>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/site")
    @RenderSection("Scripts", required: false)
</body>
</html>
